









@keyframes glebia{

	0%{ transform: scaleY(0.8); }
	100%{ transform: scaleY(1.2); }


}
@keyframes skalowalnosc{

	0%{ transform: scale(0.7) }
	100%{ transform: scale((1.5)); }


}
@keyframes ruch{

	0%{ margin-top: 6vh; }
	100%{ margin-top: 12vh; }


}